In [4]:
from scanalytics import *
from IPython.display import display
cwsa = CWSA()
cwsa.add_dist(1,2,16.3)
cwsa.add_dist(1,3,16.5)
cwsa.add_dist(1,4,20)
cwsa.add_dist(1,5,19.6)
cwsa.add_dist(1,6,17.9)
cwsa.add_dist(1,7,9.3)
cwsa.add_dist(1,'DC',12.7)
cwsa.add_dist(2,3,7.2)
cwsa.add_dist(2,4,14.9)
cwsa.add_dist(2,5,16.6)
cwsa.add_dist(2,6,16.6)
cwsa.add_dist(2,7,12.7)
cwsa.add_dist(2,'DC',11.5)
cwsa.add_dist(3,4,8.9)
cwsa.add_dist(3,5,10.1)
cwsa.add_dist(3,6,11)
cwsa.add_dist(3,7,10.8)
cwsa.add_dist(3,'DC',9.8)
cwsa.add_dist(4,5,7.3)
cwsa.add_dist(4,6,13.4)
cwsa.add_dist(4,7,19.1)
cwsa.add_dist(4,'DC',17.5)
cwsa.add_dist(5,6,12.9)
cwsa.add_dist(5,7,16.4)
cwsa.add_dist(5,'DC',16.1)
cwsa.add_dist(6,7,9.4)
cwsa.add_dist(6,'DC',17.4)
cwsa.add_dist(7,'DC',3.6)

CWSA_df, CWSA_savings_df = CWSA_savings(cwsa)
display(CWSA_df)
display(CWSA_savings_df)

      0     1     2     3     4     5     6     7
0   0.0  16.3  16.5  20.0  19.6  17.9   9.3  12.7
1   7.9   0.0   7.2  14.9  16.6  16.6  12.7  11.5
2   6.0  14.1   0.0   8.9  10.1  11.0  10.8   9.8
3  10.2  14.1  18.4   0.0   7.3  13.4  19.1  17.5
4   9.2  11.0  15.8  26.3   0.0  12.9  16.4  16.1
5  12.2  12.3  16.2  21.5  20.6   0.0   9.4  17.4
6   7.0   2.4   2.6   2.0   3.3  11.6   0.0   3.6

         0     1
0   (4, 5)  26.3
1   (4, 6)  21.5
2   (5, 6)  20.6
3   (3, 4)  18.4
4   (3, 6)  16.2
5   (3, 5)  15.8
6   (2, 3)  14.1
7   (2, 4)  14.1
8   (2, 6)  12.3
9   (1, 6)  12.2
10  (6, 7)  11.6
11  (2, 5)  11.0
12  (1, 4)  10.2
13  (1, 5)   9.2
14  (1, 2)   7.9
15  (1, 7)   7.0
16  (1, 3)   6.0
17  (5, 7)   3.3
18  (3, 7)   2.6
19  (2, 7)   2.4
20  (4, 7)   2.0

In [5]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0

status,inventory,prod_schedule,total_cost = MPS_MILP(demand_forecast,setup_cost,holding_cost,init_inventory)

In [7]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0

inventory,prod_schedule,total_cost = MPS_onetime(demand_forecast,setup_cost,holding_cost,init_inventory)

In [8]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0

inventory,prod_schedule,total_cost = MPS_chase(demand_forecast,setup_cost,holding_cost,init_inventory)

In [9]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0

inventory,prod_schedule,total_cost = MPS_silvermeal(demand_forecast,setup_cost,holding_cost,init_inventory)

In [10]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0
Q = 3600

inventory,prod_schedule,total_cost = MPS_FOQ(Q, demand_forecast,setup_cost,holding_cost,init_inventory)

In [1]:
from scanalytics import *
from IPython.display import display

demand_forecast = [1040,240,480,400,1600,4400,1440,1120,480,400,800,2000]
setup_cost = 1822.5
holding_cost = 0.3375
init_inventory = 0
t = 3
inventory,prod_schedule,total_cost = MPS_POQ(t, demand_forecast,setup_cost,holding_cost,init_inventory)